body{
    background-image: url(pngs/Lunch.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: darken;

    color: white;
}

#thumbnail{
    width: 500px;
    height: 500px;

    border: 5px;
    border-color: white;
    border-style: solid;
}