body {
    background-image: url(pngs/Lunch.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: darken;

    color: white;

    text-shadow: 3px 3px 3px gray;
}

#thumbnail {
    width: 75%;

    border: 5px;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
}

.but {
    width: 50%;
    aspect-ratio: 4 / 1;

    font-size: 200%;

    color: white;

    background-color: rgb(0, 180, 0);

    border: 5px;
    border-color: green;
    border-style: solid;
    border-radius: 5px;

    text-shadow: 3px 3px 3px gray;

    transition: 100ms;
}

.but:active {
    transform: scale(90%);
}