body {
    text-align: center;

    background-image: url(pngs/Lunch.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: darken;

    color: white;
    
    text-shadow: 3px 3px 3px gray;
}

#thumbnail {
    width: 500px;
    height: 500px;

    background-color: rgba(6, 61, 87, 0.75);

    border: 5px;
    border-color: slategray;
    border-style: solid;
    border-radius: 5px;
}

.but {
    width: 250px;
    height: 50px;

    color: white;

    font-size: 28px;

    background-color: rgb(0, 180, 0);

    border: 5px;
    border-color: green;
    border-style: solid;
    border-radius: 5px;

    text-shadow: 3px 3px 3px gray;

    transition: 100ms;
}

.but:active {
    transform: scale(90%);
}

#tutorial {
    margin: 25px auto;

    width: 400px;

    color: black;

    background-color: white;

    text-shadow: none;

    border: 5px;
    border-color: gray;
    border-style: solid;
}

#ingredients {
    text-align: left;
}

#preparation {
    margin: 10px;

    text-align: left;
}